
body {
  background-color: lightblue;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
  margin-left: 1em;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

footer li {
  float: left;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer li a:hover {
  background-color: #111;
}

h1 {
  color: white;
  text-align: center;
}

.carrusel {
  width: 100%;
}

.img2 {
  float: left;
  width: 50%;
  height: auto;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.introText {
  font-family: verdana;
  font-size: 20px;
  color: white;
  margin-left: 1em;
}

.tres {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pedirCita{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  color: white;
  transform: translate(-50%, -50%);
}

.filaTratamientos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-size: 20px;
}

.btn {
  border: 2px solid black;
  border-radius: 6px;
  font-size: 20px;
}

#columnaContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#columnaContacto > div {
  width: 50%;
}

.mapa {
  width: 100%;
  height: auto;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}
